//
//  Dev.xcconfig
//  Pulse
//
//  Created by Shorupan Pirakaspathy on 2020-03-27.
//  Copyright © 2020 Shorupan Pirakaspathy. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//Server URLS and Other Configuration Keys

timeout_interval                = 120

protocol                        = https
server_url                      = gxauth.apimachine.com
DomainFolder                    = /gx/user

LoginApi                        = /login

ForgotpasswordRequestAPI        = /password/forgot/request
ForgotpasswordConfirmAPI        = /password/forgot/confirm

SignupApi                       = /signup

ChangePasswordAPI               = /password/change

AllClassroomAPI                 = /
SelectedCategoryClassAPI        = /
CategoryDetailDesignAPI         = /
CategoryClassesAPI              = /

SearchClassroomAPI              = /

